/* 
    *COLORS
*/
$primary-color: #4d6bff;
$secondary-color: #31a9fd;
$tertiary-color: #f6f6fe;
$black-color: #34355c;
$grey-color: #bebebe;
$white-color: #fff;

/* 
    *OTHERS
*/

$border-radius: 0.4rem;
$max-width: 992px;
