header {
  width: 100%;
  max-width: $max-width;
  padding: 0rem 1rem;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      &__item {
        a:hover {
          border-bottom: 1px solid $black-color;
        }
        button {
          @include btn-primary;
        }
      }
    }
  }
}
