.newsletter {
  background-color: $primary-color;
  width: 100%;
  /*   max-width: $max-width; */
  padding: 5rem 0rem;
  &__title {
    @include subtitle();
    color: $white-color;
  }
  &__paragraph {
    font-size: 0.9rem;
    text-align: center;
    color: $white-color;
  }

  &__inputs {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    form {
      padding: 1rem;
      input {
        padding: 0.75rem 1.6rem;
      }
      button {
        @include btn-primary();
        background-color: $secondary-color;
      }
    }
  }
  &__error {
    text-align: center;
    color: red;
  }
}
