/* 
    VARIABLES
*/
:root{
    --primary-color: #4c6aff;
    --secondary-color: #32a8ff;
    --dark-color: #33325a;
    --soft-grey-color: #f6f6ff;
    --white-color: #f2f2f2;
    --padding-container: 1rem 5rem;
    --padding-container-sm: 1rem 0.7rem; 
    --padding-button: 0.75rem 1.25rem;
    --padding-button-sm: 0.5rem 0.75rem;
    --border-radius: 0.4rem;
    --max-width: 1200px;
    --transition-button: opacity  0.3s ease; 
}

/* 
    IMPORTACION DE FUENTES
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


/* 
    RESETS PADDINGS Y MARGENES
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}



/* 
    DEBAJO ENCONTRARAN EL INICIO Y EL FIN DE SU RESPECTIVO COMPONENTE,
    SOLO USAR SU RESPECTIVO ESPACIO DE SU COMPONENTE ELEGIDO. 😎 
*/


/* 
    ===== *NAVBAR COMPONENT* =====
*/

    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END NAVBAR COMPONENT* =====
*/



/* 
    ===== *HERO COMPONENT* =====
*/
    
    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END HERO COMPONENT* =====
*/



/* 
    ===== *TRUSTED COMPONENT* =====
*/

    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END TRUSTED COMPONENT* =====
*/



/* 
    ===== *HELP COMPONENT* =====
*/

    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END HELP COMPONENT* =====
*/



/* 
    ===== *SERVICES COMPONENT* =====
*/

    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END SERVICES COMPONENT* =====
*/



/* 
    ===== *BUSINESS GROW COMPONENT* =====
*/

    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END BUSINESS GROW COMPONENT* =====
*/



/* 
    ===== *TESTIMONIAL COMPONENT* =====
*/

    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END TESTIMONIAL COMPONENT* =====
*/



/* 
    ===== *NEWSLETTER COMPONENT* =====
*/

    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END NEWSLETTER COMPONENT* =====
*/



/* 
    ===== *FOOTER COMPONENT* =====
*/

    /* 🔽  ESCRIBA SU CODIGO DEBAJO DE ESTA LINEA 🔽  */


/* 
    ===== *END FOOTER COMPONENT* =====
*/